.about {
  padding: calc(7.2rem + 8rem) 0 10.2rem;
  
  &__title {
    max-width: 99.8rem;
    margin-bottom: 3.2rem;
  }

  &__text-block {
    display: grid;
    grid-template-columns: 61.2rem 1fr;
    column-gap: 4rem;
    margin-bottom: 6.4rem;
  }

  &__companies {
    display: flex;
    align-items: center;
  }

  &__company {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0.1rem solid $gray-light;
    height: 13.8rem;
    flex: 1;
  }
}