.container {
  position: relative;
  max-width: $container;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  z-index: 1;

  &--center {
    display: grid;
    align-content: center;
  }

  &--border-hero {
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      background-color: $gray;
      top: 0;
      width: 0.1rem;
      transform: translateY(-14.8rem);
      height: 100vh;
      z-index: -1;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 22.3rem;
    }
  }

  &--circle {
    &::after {
      border-radius: 50%;
      width: 42.1rem;
      height: 42.1rem;
      right: 0;
      background-color: transparent;
      border: 0.1rem solid $gray;
    }
  }

  &--border {
    padding: 7.2rem 0 9.6rem;
    border-left: 0.1rem solid $gray;
    border-right: 0.1rem solid $gray;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      z-index: -1;
    }

    &::before {
      height: 100%;
      width: 0.1rem;
      right: 41.9rem;
      background-color: $gray;
    }
  }
}