.insights {
  padding: calc(7.2rem + 8rem) 0 9.4rem;

  &__title {
    max-width: 99.8rem;
  }

  &__date {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  &__read-more {
    line-height: 4rem;
  }
}

.swiper {
  width: 100%;
  height: 100%;

  .swiper-wrapper {
    height: 100%;

    .swiper-slide {
      height: 100%;
    }
  }
}