.studies {
  &__title {
    max-width: 99.8rem;
  }

  &__swiper {
    width: 100%;
  }

  &__btn {
    border: unset;
    background: unset;
    cursor: pointer;

    &:hover {
      .studies__btn-arrow {
        transform: translateX(0.3rem);
      }
    }
  }

  &__btn-arrow {
    transition: $transition;
  }
}