// COLORS
$white: #ffffff;
$black: #000000;
$primary: #05050D;
$gray: #23232A;
$gray-dark: #55555A;
$gray-light: #D7D7D8;
$gray-light-10: #69696E;

$red: #D33437;
$yellow: #F5C844;
$green: #459970;
$blue: #2B67D9;

//
$container: 134.4rem;
$transition: all .4s cubic-bezier( .25, .8, .25, 1 );


